:root {
    --textColour: #1F271B;
    --backgroundColour: ivory;
    --headerColour: #88A0A8;
    --blurColour: gray;
}

body {
    background-color: var(--backgroundColour);
    font-family: 'Trebuchet MS';
    margin: 0;
    color: var(--textColour);
}

header {
    background-color: var(--headerColour);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
}

h1 {
    padding-left: 30px;
    color: var(--textColour);
}

#text {
    text-align: center;
}

nav {
    padding-right: 30px;
    font-size: 24px;
    
}

nav > a {
    text-decoration: none;
    padding-left: 30px;
    color: var(--textColour);
}

#hero {
    position: relative;
    
}

#greeting {
    position: absolute;
    left: 50%;
    top: 40%;
    font-size: 54px;
    color: black;
    text-shadow: 1px 1px 20px var(--blurColour);
    transform: translate(-50%, -50%);
    text-align: center;
}

#hero > img{
   min-width: 100%;
   max-height: 80vh;
   object-fit: cover;

}

#buttons {
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
}

button {
    font-size: 24px;
    color: var(--textColour);
    background-color: var(--headerColour);
}

#info1 {
    padding: 0px 50px;
}

#info2 {
    padding: 0px 50px;
}

.error {
    color: red;
}

#nameError{
    padding-bottom: 30px;
}


#submit{
   font-size: 16px;
    color: var(--textColour);
    background-color: var(--headerColour); 
}


#grid {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 25px;
    justify-content: center;
    margin-top: 25px;
}

#grid img {
    width: 400px;
    height: 400px;
    object-fit: cover;
}

#infobutton {
    margin-top: 40px;
}

#container {
    margin: auto;
    display: flex;
    justify-content: center;
}

#color {
    text-align: center;
}

/* tablet */
@media only screen and (max-width: 1200px) {
    #grid {
        grid-template-columns: auto auto;
    }

     #buttons {
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 20px;
    }
    
    #grid img {
        width: 300px;
        height: 300px;
    }

   


/* mobile */
@media only screen and (max-width: 600px) {
    #grid{
        grid-template-columns: auto;
    }

    header {
        flex-direction: column;
        padding-bottom: 18px;
        justify-content: center;
    }

    h1 {
        padding-left: 0;
    }

    h2 {
        font-size: 18px;
    }

    #content p {
        font-size: 12px;
    }
    
    #hero > p {
        font-size: 44px;
    }

    #buttons {
        flex-direction: column;
        gap: 18px
    }

    #notification {
        font-size: 16px;
    }
}


